<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuanye.t12_cit">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--读写内存块权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--调用相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".system.MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QrInfoActivity"/>
        <activity android:name=".SystemInfoActivity"/>
        <activity android:name=".DisplayActivity"/>
        <activity android:name=".LedActivity"/>
        <activity android:name=".BackLightActivity"/>
        <activity android:name=".TFActivity"/>
        <activity android:name=".DCPAcitvity"/>
        <activity android:name=".DRPActivity"/>
        <activity android:name=".VibratorActivity"/>
        <activity android:name=".AudioActivity"/>
        <activity android:name=".SimActivity"/>
        <activity android:name=".GsensorActivity"/>
        <activity android:name=".BatteryActivity"/>
        <activity android:name=".CameraActivity"/>
        
        <provider
            android:authorities="com.yuanye.t12_cit.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>